/* color variables */
:root {
  --clr-dark: hsl(0, 0%, 20%);
  --clr-light: hsl(0, 0%, 30%);
  --clr-almostBlack: hsla(0, 0%, 4%, 0.708);
  --clr-slate400: hsl(0, 98%, 24%);
  --clr-slate600: hsl(0, 78%, 44%);
  --clr-slate800: ;
  /* comment color hex codes here for easy copy and paste*/

  /* sizes */
  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;
}

/* IN MODERN_NORMALIZE ALREADY */
*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  line-height: calc(1em + 0.5rem);
}

html {
  scroll-behavior: smooth;
}

body {
  /* font of your choice */
  font-family: ;
  /* background: rgb(0, 0, 0); */
  height: 100%;
  width: 100%;
  /* background-color: grey; */
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}
